html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: url("../images/bg.jpg") scroll;
}

.btn-primary {
    padding-left: 10%;
    padding-right: 10%;
}

.label {
    font-size: xx-large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

.form-control {
    font-size: medium;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-group {
    text-align: center;
}

.jumbotron {
    margin: auto;
    text-align: center;
    min-width: 50%;
    background-color: rgba(88, 88, 88, 0.7);
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

.btn-custom {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: x-large;
    color: white;
    background-color: rgba(88, 88, 88, 0.8);
}

.back {
    text-align: left;
    width: 100%;
}

.table {
    display: table;
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
}

.table > thead > tr > th {
    color: white;
    text-align: center;
    background-color: rgba(88, 88, 88, 0.7);
}

hr {
    border: 1px solid black;
}

tbody {
    background-color: rgba(225, 225, 225, 0.9);
}

.pagination li .active {
    background-color: #222222;
    color: #2b542c;
}

.content {
    width: 100%;
}

.number-block {
    margin: 3%;
}

.file-group {
    font-size: medium;
    color: white;
    margin: 7%;
    padding-left: 17%;
    width: 80%;
}
